{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="row">
          <div class="col-md-6">
            <img src="/static/img/team-biercheck24.jpg" alt="About Image" class="img-fluid">
          </div>
          <div class="col-md-6">
            <h1 class="text-center">About</h1>
            <p class="text-justify lead">
          Bierliebhaber aufgepasst! Biercheck24 ist wie ein Schluck frisch gezapftes Bier: Erfrischend, belebend und voller Geschmack! <br>
          Entdecke mit uns die Geheimnisse der Hopfenkunst, bewerte Biere mit Leidenschaft und lass uns gemeinsam die Welt der Biersorten erobern. <br><br>
          Prost, auf unsere würzige Leidenschaft, Prost von eurem Biercheck24 Team, Dennis, Patrick, Marian und Adrian! (v.l.n.r.)
        </p>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}