{% extends 'base.html' %}

{% block content %}
  <head>
    <title>Mein erstes Django-Template</title>
  </head>
  <body>
    <h1>About</h1>

    <p>
      Bierliebhaber aufgepasst! Beercheck24 ist wie ein Schluck frisch gezapftes Bier: 
      erfrischend, belebend und voller Geschmack! Entdecke mit uns die Geheimnisse der Hopfenkunst, 
      bewerte Biere mit Leidenschaft und lass uns gemeinsam die Welt der Biersorten erobern. Prost, auf unsere würzige Leidenschaft, Prost von eurem Beercheck24 Team.
    </p>

  </body>
</html>
{% endblock %}
