{% extends "base.html" %} 
{% block content %}
<div class="container">
  {% if user.is_authenticated %}
  <h1 class="text-center mb-4">Neues Bier!</h1>

  {% if messages %}
  <div class="alert alert-dismissible fade show" role="alert">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} mb-2" role="alert">
      <strong>{{ message }}</strong>
    </div>
    {% endfor %}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endif %}

  <form method="post">
    {% csrf_token %}
    <table class="table">
      <tbody>
        <tr>
          <td>
            <label for="{{ form.display_name.id_for_label }}" class="form-label">Bier Name:</label>
          </td>
          <td>
            {{ form.display_name }}
          </td>
        </tr>
        <tr>
          <td>
            <label for="{{ form.brewery.id_for_label }}" class="form-label">Brauerei:</label>
          </td>
          <td>
            {{ form.brewery }}
          </td>
        </tr>
        <tr>
          <td>
            <label for="{{ form.style.id_for_label }}" class="form-label">Art:</label>
          </td>
          <td>
            {{ form.style }}
          </td>
        </tr>
        <tr>
          <td>
            <label for="{{ form.alcohol_content.id_for_label }}" class="form-label">Alkoholgehalt:</label>
          </td>
          <td>
            {{ form.alcohol_content }}
          </td>
        </tr>
        <tr>
          <td>
            <label for="{{ form.original_gravity.id_for_label }}" class="form-label">Stammwürzgehalt:</label>
          </td>
          <td>
            {{ form.original_gravity }}
          </td>
        </tr>
        <tr>
          <td>
            <label for="{{ form.recommended_serving_temperature.id_for_label }}" class="form-label">Empfohlene Serviertemperatur:</label>
          </td>
          <td>
            {{ form.recommended_serving_temperature }}
          </td>
        </tr>
        <tr>
          <td>
            <label for="{{ form.is_organic.id_for_label }}" class="form-label">Biobier:</label>
          </td>
          <td>
            {{ form.is_organic }}
          </td>
        </tr>
        <tr>
          <td>
            <label for="{{ form.clarity.id_for_label }}" class="form-label">Klarheit:</label>
          </td>
          <td>
            {{ form.clarity }}
          </td>
        </tr>
        <tr>
          <td>
            <label for="{{ form.yeast.id_for_label }}" class="form-label">Hefe:</label>
          </td>
          <td>
            {{ form.yeast }}
          </td>
        </tr>
        <tr>
          <td>
            <label for="{{ form.is_gluten_free.id_for_label }}" class="form-label">Glutenfrei:</label>
          </td>
          <td>
            {{ form.is_gluten_free }}
          </td>
        </tr>
        <tr>
          <td>
            <label for="{{ form.description.id_for_label }}" class="form-label">Kurze Beschreibung:</label>
          </td>
          <td>
            {{ form.description }}
          </td>
        </tr>
      </tbody>
    </table>
    <div class="d-grid gap-2 col-6 mx-auto">
      <button type="submit" class="btn btn-primary">Bier hinzufügen</button>
    </div>
  </form>
  {% else %}
  <p class="mt-4 text-center">Du musst angemeldet sein, um Biere hinzuzufügen! <a href="{% url 'login' %}">Zum Login</a> </p>
  {% endif %}
</div>
{% endblock %}


