{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>{% block title %}Biercheck24.de{% endblock %}</title>
    {% load bootstrap5 %}         <!--Bootstrap5 wird geladen-->
    <!-- {% bootstrap_css %} -->            <!-- Dieser Eintrag fügt ein CDN Link zum Bootstrap Stylesheet inklusive Integrity ein-->
    <!-- {% bootstrap_javascript %} -->    <!-- Dieser Eintrag für ein CDN Link zum Bootstrap JavaScript File inklusive Integrity ein-->
    <style>
      .btn-spacing {
        margin-bottom: 20px; /* Abstand der Buttons*/
      }
    </style>    
  </head>
  
  <body>
    <nav class="navbar navbar-expand-sm bg-warning navbar-light">      <!-- navbar-expand-sm skaliert die navbar honizontal (statt vertikal), bg-warning ist die gelbe Farbe, und navbar-dark macht den Text dunkel-->
      <div class="container-fluid justify-content-center">            <!-- justify-concent-center zentriert den container-->
        <a class=""navbar-brand href="{% url 'home' %}">
          <img src="/static/img/Logo.png" alt="HOME" style ="width: 60px;" class="rounded-pill">
        </a>
        <ul class="navbar-nav">          
          <li class="nav-item">
            <a class="nav-link link-dark" href="{% url 'beer_list' %}">Bierliste</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-dark" href="{% url 'add_beer' %}">Bier hinzufügen!</a>
          </li>
          </li>
          <li class="nav-item">
            <a class="nav-link link-dark" href="{% url 'brewery_list' %}">Brauereien</a>
          </li>
          </li>
          <li class="nav-item">
            <a class="nav-link link-dark" href="{% url 'news' %}">News</a>
          </li>
          </li>
          <li class="nav-item">
            <a class="nav-link link-dark" href="{% url 'about' %}">About</a>
          </li>                   
          <li class="nav-item">
            <a class="nav-link link-dark" href="/admin">Admin</a>
          </li>      
        </ul>
        <form class="d-flex align-items-center ml-auto my-2 my-lg-0" action="{% url 'search_beer' %}" method="GET">
          <input class="form-control me-2" type="search" placeholder="Bier suchen" aria-label="Search" name="q">
          <button class="btn btn-outline-primary" type="submit">Suchen</button>
        </form>

        
        {% if user.is_authenticated %}
          <li class="nav-item list-unstyled" style="margin-left: 10px;">
            <span class="navbar-text">Logged in as: <br>{{ user.username }}</span>
          </li>        
          <li class="nav-item list-unstyled" style="margin-left: 10px">
          <a class="btn btn-outline-dark" href="{% url 'logout' %}">Logout</a>
          </li>
        {% else %}
          <li class="nav-item nav-item list-unstyled">
            <a class="nav-link link-dark" href="{% url 'login' %}">Login</a>
          </li>
          <li class="nav-item nav-item list-unstyled">
            <a class="nav-link link-dark" href="{% url 'register' %}">Register</a>
          </li>        
        {% endif %}

      </div>
    </nav>
    {% block content %}
    {% endblock %}
  <footer class="bg-light text-center py-4 mt-4">
    <p>&copy; 2023 BierCheck24.de  Alle Rechte vorbehalten. Es handelt sich um ein privates UNI-Projekt.</p>
  </footer>
  </body>
</html>
