{% extends 'base.html' %}
{% load static %}
{% block content %}
  <h1 class="text-center">Erweiterte Bierliste</h1>

  <a href="{% url 'beer_list' %}" class="d-block text-center mb-3">Einfache Ansicht</a>

  <form method="get" class="filter-form">
    <div class="row g-3 align-items-end">
      <div class="col-md-4">
        <label for="style" class="form-label">Art:</label>
        <select name="style" id="style" class="form-select">
          <option value="">Alle</option>
          {% for style in styles %}
            <option value="{{ style.pk }}">{{ style.name }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="col-md-4">
        <label for="id_alcohol_content" class="form-label">Alkoholgehalt (Promille):</label>
        <select name="alcohol_content" id="id_alcohol_content" class="form-select">
          <option value="">Alle</option>
          <option value="lt4">Weniger als 4 </option>
          <option value="4-5">4 bis 5 </option>
          <option value="gt5">Mehr als 5 </option>
        </select>
      </div>

      <div class="col-md-4">
        <label for="brewery" class="form-label">Brauerei:</label>
        <select name="brewery" id="brewery" class="form-select">
          <option value="">Alle</option>
          {% for brewery in breweries %}
            <option value="{{ brewery.pk }}">{{ brewery.name }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-12 d-flex justify-content-end">
        <button type="submit" class="btn btn-primary">Filter anwenden</button>
      </div>
    </div>
  </form>

  <div class="row mt-3">
    <div class="col">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Beschreibung</th>
            <th>Bewertungen</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for beer in beers|dictsort:'display_name' %}
            <tr>
              <td><a href="{% url 'beer_detail' beer_id=beer.id %}">{{ beer.display_name }}</a></td>
              <td>{{ beer.description }}</td>
              <td>
                <button class="btn btn-primary" onclick="toggleRatings('{{ beer.id }}')">Anzeigen</button>
                <div id="ratings_{{ beer.id }}" style="display: none;">
                  <p><strong>Farbe (1-10):</strong> {{ beer.Color__avg|floatformat:2 }}</p>
                  <p><strong>Einstieg (1-10):</strong> {{ beer.Entry__avg|floatformat:2 }}</p>
                  <p><strong>Körper (1-10):</strong> {{ beer.body__avg|floatformat:2 }}</p>
                  <p><strong>Abgang (1-10):</strong> {{ beer.finish__avg|floatformat:2 }}</p>
                  <p><strong>Kohlenäure (1-10):</strong> {{ beer.carbonation__avg|floatformat:2 }}</p>
                  <p><strong>Säure (1-10):</strong> {{ beer.acidity__avg|floatformat:2 }}</p>
                  <p><strong>Bitterkeit (1-10):</strong> {{ beer.bitterness__avg|floatformat:2 }}</p>
                  <p><strong>Süffigkeit (1-10):</strong> {{ beer.drinkability__avg|floatformat:2 }}</p>
                </div>
              </td>
              <td>
                {% if beer.id in rated_beers %}
                    <a href="{% url 'rating_failed' %}" class="btn btn-primary">Bewerten</a>
                {% else %}
                    <a href="{% url 'rate_beer_by_id' beer_id=beer.id %}" class="btn btn-primary">Bewerten</a>
                {% endif %}
            </td>
            </tr>
          {% empty %}
            <tr>
              <td colspan="4">No beers available</td>
            </tr>
          {% endfor %}
        </tbody>
        
      </table>
    </div>
  </div>

  <script>
    function toggleRatings(beerId) {
      var ratingsDiv = document.getElementById('ratings_' + beerId);
      if (ratingsDiv.style.display === 'none') {
        ratingsDiv.style.display = 'block';
      } else {
        ratingsDiv.style.display = 'none';
      }
    }
  </script>
{% endblock %}
