{% extends 'base.html' %}

{% block content %}
  <h1>Beer List</h1>

  <a href="{% url 'test' %}">Erweiterte Ansicht</a> <!-- Link to test.html -->

  <form action="{% url 'beer_list' %}" method="get" class="filter-form">
    <label for="style">Art:</label>
    <select name="style" id="style">
      <option value="">Alle</option>
      {% for style in styles %}
        <option value="{{ style.pk }}">{{ style.name }}</option>
      {% endfor %}
    </select>

    <label for="id_alcohol_content">Alcohol Content:</label>
    <select name="alcohol_content" id="id_alcohol_content">
        <option value="">Any</option>
        <option value="lt4">Less than 4%</option>
        <option value="4-5">4% to 5%</option>
        <option value="gt5">Greater than 5%</option>
    </select>

    <label for="brewery">Brauerei:</label>
    <select name="brewery" id="brewery">
      <option value="">Alle</option>
      {% for brewery in breweries %}
        <option value="{{ brewery.pk }}">{{ brewery.name }}</option>
      {% endfor %}
    </select>

    <button type="submit">Filter anwenden</button>
  </form>
  
    
  
  
  <ul>
    {% for beer in beers %}
      <li><a href="{% url 'beer_detail' beer_id=beer.id %}">{{ beer.display_name }}</a> - <a href="{% url 'rate_beer_by_id' beer_id=beer.id %}">Jetzt Bewerten</a></li>
    {% empty %}
      <li>No beers available</li>
    {% endfor %}
  </ul>
{% endblock %}