{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1>{{ beer.display_name }}</h1>

    


    <div class="table-responsive">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th scope="row">Brauerei</th>
                    <td>{{ beer.brewery.name }}</td>
                </tr>
                <tr>
                    <th scope="row">Art</th>
                    <td>{{ beer.style.name }}</td>
                </tr>
                <tr>
                    <th scope="row">Alkoholgehalt</th>
                    <td>{{ beer.alcohol_content }}%</td>
                </tr>
                <tr>
                    <th scope="row">Stammwürze</th>
                    <td>{{ beer.original_gravity }}</td>
                </tr>
                <tr>
                    <th scope="row">Empfohlene Serviertemperatur</th>
                    <td>{{ beer.recommended_serving_temperature }}°C</td>
                </tr>
                <tr>
                    <th scope="row">Biobier</th>
                    <td>{% if beer.is_organic %}Yes{% else %}No{% endif %}</td>
                </tr>
                <tr>
                    <th scope="row">Klarheit</th>
                    <td>{{ beer.clarity }}</td>
                </tr>
                <tr>
                    <th scope="row">Hefe</th>
                    <td>{{ beer.yeast }}</td>
                </tr>
                <tr>
                    <th scope="row">Glutenfrei</th>
                    <td>{% if beer.is_gluten_free %}Yes{% else %}No{% endif %}</td>
                </tr>
                <tr>
                    <th scope="row">Beschreibung</th>
                    <td>{{ beer.description }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div class="col-rd-10 d-flex justify-content-center align-items-center"> <!--Spaltenbreite = 4-->
        <div class="beer-image-container">
          {% if beer.thumbnail %}
              <img src="{{ beer.thumbnail.url }}" alt="Logo des Bieres" class="beer-image">
          {% else %}
              <img src="/media/beerPictures/default.jpg" alt="Logo des Bieres" class="beer-image">
          {% endif %}
        </div>
      </div>

    <h2>Compare Beers</h2>
    <div class="col-md-12 text-center mt-4">
        <form method="POST" action="{% url 'compare_beers' beer.id %}">
            {% csrf_token %}
            <label for="second_beer" class="form-label">Choose second beer:</label>
            <select name="second_beer" id="second_beer" class="form-select">
                {% for other_beer in all_beers %}
                    <option value="{{ other_beer.id }}">{{ other_beer.display_name }}</option>
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-primary">Compare</button>
        </form>
    </div>

    
    


    {% if average_ratings %}
        <h2>Durchschnittliche Bewertung</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th scope="row">Farbe (1-10)</th>
                        <td>{{ average_ratings.Color__avg }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Einstieg (1-10)</th>
                        <td>{{ average_ratings.Entry__avg }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Körper (1-10)</th>
                        <td>{{ average_ratings.body__avg }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Abgang (1-10)</th>
                        <td>{{ average_ratings.finish__avg }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Kohlensäure (1-10)</th>
                        <td>{{ average_ratings.carbonation__avg }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Säure (1-10)</th>
                        <td>{{ average_ratings.acidity__avg }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Bitterkeit (1-10)</th>
                        <td>{{ average_ratings.bitterness__avg }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Süffigkeit (1-10)</th>
                        <td>{{ average_ratings.drinkability__avg }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        {% if average_ratings.price__avg == 1 %}
            <p><strong>Price:</strong> €</p>
        {% elif average_ratings.price__avg == 2 %}
            <p><strong>Price:</strong> €€</p>
        {% elif average_ratings.price__avg == 3 %}
            <p><strong>Price:</strong> €€€</p>
        {% endif %}

        {% if beer.ratings_count >= 1 and recommended_percentage >= 80 %}
            <p><strong>Besonders empfehlenswert</strong> (Bedeutet Score > 80.0 und Bewertungen sind mehr als X.)</p>
        {% endif %}

        <h2>Bewertungen</h2>

        <p><strong>Bewertungen:</strong> {{ ratings_count }}</p>
        <p><strong>Wurde {{ recommended_count }} mal empfohlen</strong></p>
        <p><strong>Score:</strong> {{ recommended_percentage|floatformat:2 }} (Verhältnis von Anzahl aller Bewertungen zur Anzahl von Empfehlungen in diesen.)</p>

        {% if recommended_percentage <= 50 and recommended_percentage > 0 %}
            <p><strong>So, lala</strong></p>
        {% elif recommended_percentage > 50 and recommended_percentage <= 80 %}
            <p><strong>Schon besser</strong></p>
        {% elif recommended_percentage > 80 %}
            <p><strong>Super</strong></p>
        {% endif %}
        
        {% if overall_rating %}
            <h2>Gesamtbewertung</h2>
            <p><strong>Gesamtbewertung:</strong> {{ overall_rating|floatformat:2 }}</p>
        {% endif %}
    

    {% else %}
        <p>No ratings yet</p>
    {% endif %}


{% endblock %}
