{% extends 'base.html' %}

{% block content %}
  <h1>Beer List</h1>
  <ul>
    {% for beer in beers %}
      <li><a href="{% url 'beer_detail' beer_id=beer.id %}">{{ beer.display_name }} </a> - <a href="{% url 'rate_beer_by_id' beer_id=beer.id %}">Jetzt Berwerten</a></li>

      <!-- <a href="{% url 'rate_beer_by_id' beer_id=beer.id %}" class="btn btn-success">{{beer.display_name}}</a> <input type="button" class="btn btn-success" value="Bewerten"> </li> <br/> -->
    {% empty %}
      <li>No beers available</li>
    {% endfor %}
  </ul>
  <div class="list-group">
    {% for beer in beers %}
    <a href="{% url 'beer_detail' beer_id=beer.id %}" class="list-group-item list-group-item-action">{{ beer.display_name }}</a>  <a href="{% url 'rate_beer_by_id' beer_id=beer.id %}" type="button" class="btn btn-warning">Bewerten</a>
    {% empty %}
    <li class="list-group-item">No Beers available, please build db and import json files</li>
    {% endfor %}
  </div>  
{% endblock %}