{% extends 'base.html' %}

{% block content %}
  <h1 style="text-align: center;">Brauerei Liste</h1>
  <div style="display: flex; justify-content: center;">
    {% if breweries %}
      <ul style="list-style: none; padding: 0; margin: 0;">
        {% for brewery in breweries %}
          <li style="border-bottom: 1px solid #ccc; padding: 10px;">
            <a href="{% url 'brewery_detail' brewery_id=brewery.id %}" style="text-decoration: none; Farbe: inherit;">{{ brewery.name }}</a>
          </li>
        {% empty %}
          <li style="border-bottom: 1px solid #ccc; padding: 10px;">No breweries available</li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No breweries available</p>
    {% endif %}
  </div>
{% endblock %}