{% extends 'base.html' %}
{% load custom_filters %}

{% block content %}
<div class="container mt-5">
  <div class="row">
      <div class="col-md-6">
          <h1>{{ brewery.display_name }}</h1>
          <h2>founded {{ brewery.founded_year }} in {{ brewery.location }}</h2>
          <p>{{ brewery.description }}</p>
      </div>
      <div class="col-md-6">
        {% if "/static/img/BreweryPictures/"|add:brewery.id|stringformat:"s"|add:".png"|file_exists %}
          <img src="/static/img/BreweryPictures/{{ brewery.id }}.jpg" alt="Logo der Brauerei" class="brewery-image">
        {% else %}
          <img src="/static/img/BreweryPictures/brewery-image.jpg" alt="Logo der Brauerei" class="brewery-image">
        {% endif %}
    </div>
  </div>
</div>
{% endblock %}


<!-- Work in Progress, funktioniert leider noch nicht wie gedacht, bisher wird immer nur das brewery-image.jpg angezeigt.-->