{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title text-center">Login</h2>
            <form method="post" class="needs-validation" novalidate>
              {% csrf_token %}
              <div class="mb-3">
                <label for="id_username" class="form-label">Anmeldename:</label>
                <input type="text" name="username" required id="id_username" class="form-control">
                {% if form.username.errors %}
                  <div class="alert alert-danger">
                    {% for error in form.username.errors %}
                      {{ error }}
                    {% endfor %}
                  </div>
                {% endif %}
                <div class="invalid-feedback">Bitte geben Sie Ihren Anmeldenamen ein.</div>
              </div>
              <div class="mb-3">
                <label for="id_password" class="form-label">Passwort:</label>
                <div class="input-group">
                  <input type="password" name="password" required id="id_password" class="form-control">
                  <div class="input-group-append">
                    <button type="button" id="toggle_password" class="btn btn-outline-secondary">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-eye-slash" viewBox="0 0 16 16">
                        <image xlink:href="{% static 'icons/eye-slash.svg' %}" width="24px" height="24px"></image>
                      </svg>
                    </button>
                  </div>
                </div>
                {% if form.password.errors %}
                  <div class="alert alert-danger">
                    {% for error in form.password.errors %}
                      {{ error }}
                    {% endfor %}
                  </div>
                {% endif %}
                <div class="invalid-feedback">Bitte geben Sie Ihr Passwort ein.</div>
              </div>
              <button type="submit" class="btn btn-primary">Login</button>
            </form>
            {% if messages %}
              <div class="alert alert-danger mt-3">
                {% for message in messages %}
                  {{ message }}
                {% endfor %}
              </div>
            {% endif %}
            <div class="text-center mt-3">
              Noch kein registrierter Benutzer? Hier geht es zur Registrierung:
              <a href="{% url 'register' %}" class="btn btn-outline-primary">Zur Registrierung</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const togglePasswordButton = document.getElementById('toggle_password');
      const passwordInput = document.getElementById('id_password');

      togglePasswordButton.addEventListener('click', function() {
        if (passwordInput.type === 'password') {
          passwordInput.type = 'text';
          this.innerHTML = `
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
              <image xlink:href="{% static 'icons/eye.svg' %}" width="24px" height="24px"></image>
            </svg>
          `;
        } else {
          passwordInput.type = 'password';
          this.innerHTML = `
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-eye-slash" viewBox="0 0 16 16">
              <image xlink:href="{% static 'icons/eye-slash.svg' %}" width="24px" height="24px"></image>
            </svg>
          `;
        }
      });
    });
  </script>
{% endblock %}
