{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="container">
  <h1 class="my-4">Neuigkeiten</h1>

  {% if user.is_authenticated %}
  <!-- News-Formular -->
  <form id="postEntryForm">
      {% csrf_token %}
      <div class="mb-3">
          <label for="title" class="form-label">Titel</label>
          <input type="text" class="form-control" id="title" placeholder="Geben Sie einen Titel ein" required>
      </div>
      <div class="mb-3">
          <label for="content" class="form-label">Inhalt</label>
          <textarea class="form-control" id="content" rows="4" placeholder="Geben Sie den Inhalt ein" required></textarea>
      </div>
      <button type="submit" class="btn btn-secondary">Posten</button>
  </form>
  {% endif %}

  <!-- News-Einträge -->
  <div id="newsContainer" class="my-4">
      <h2>Aktuelle Einträge</h2>
      {% for entry in entries %}
      <div class="card mb-3">
          <div class="card-body">
              <h5 class="card-title">{{ entry.title }}</h5>
              <p class="card-text">{{ entry.content }}</p>
              <button id="upvoteButton_{{ entry.id }}" class="btn btn-outline-success" onclick="upvoteEntry({{ entry.id }})"><i class="bi bi-hand-thumbs-up"></i> <span id="upvoteCount_{{ entry.id }}">{{ entry.upvotes }}</span></button>
          </div>
      </div>
      {% endfor %}
  </div>
</main>

<script>
document.getElementById('postEntryForm').addEventListener('submit', function(event) {
    event.preventDefault();
    var title = document.getElementById('title').value;
    var content = document.getElementById('content').value;
    var csrfToken = document.getElementsByName('csrfmiddlewaretoken')[0].value;
    var xhr = new XMLHttpRequest();
    xhr.open('POST', '/post_entry/', true);
    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
    xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
    xhr.setRequestHeader('X-CSRFToken', csrfToken);
    xhr.onload = function() {
        if (xhr.status === 200) {
            var response = JSON.parse(xhr.responseText);
            if (response.entry_id && response.title && response.content) {
                var entryId = response.entry_id;
                var title = response.title;
                var content = response.content;
                var newEntryHtml = `
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">${title}</h5>
                            <p class="card-text">${content}</p>
                            <button id="upvoteButton_${entryId}" class="btn btn-outline-success" onclick="upvoteEntry(${entryId})"><i class="bi bi-hand-thumbs-up"></i> <span id="upvoteCount_${entryId}">0</span></button>
                        </div>
                    </div>
                `;
                var newsContainer = document.getElementById('newsContainer');
                newsContainer.insertAdjacentHTML('afterbegin', newEntryHtml);
                document.getElementById('title').value = '';
                document.getElementById('content').value = '';
            }
        } else {
            console.error('Error:', xhr.status);
        }
    };
    xhr.onerror = function() {
        console.error('Request failed');
    };
    xhr.send('title=' + encodeURIComponent(title) + '&content=' + encodeURIComponent(content));
});

function upvoteEntry(entryId) {
    var csrfToken = document.getElementsByName('csrfmiddlewaretoken')[0].value;
    var xhr = new XMLHttpRequest();
    xhr.open('POST', '/upvote/', true);
    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
    xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
    xhr.setRequestHeader('X-CSRFToken', csrfToken);
    xhr.onload = function() {
        if (xhr.status === 200) {
            var response = JSON.parse(xhr.responseText);
            if (response.upvotes !== undefined) {
                var upvoteCountElement = document.getElementById('upvoteCount_' + entryId);
                upvoteCountElement.textContent = response.upvotes;
            }
        } else {
            console.error('Error:', xhr.status);
        }
    };
    xhr.onerror = function() {
        console.error('Request failed');
    };
    xhr.send('entry_id=' + encodeURIComponent(entryId));
}
</script>
{% endblock %}
