{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
  <div class="container">
    <h1>Rate Beer {{ beer.display_name }}</h1>
    {% for message in messages %}
      <div class="alert alert-danger" role="alert">
        {{ message }}
      </div>
    {% endfor %}
    <form method="post" class="mt-4">
      {% csrf_token %}
      <table class="table">
        {% for field in form %}
        <tr>
          <td>{{ field.label_tag }}</td>
          <td>{{ field }}</td>
        </tr>
        {% endfor %}
      </table>
      <button type="submit" class="btn btn-primary">Rate</button>
    </form>
  </div>
{% else %}
  <div class="container">
    <p class="mt-4">Du musst angemeldet sein, um Biere zu bewerten! <a href="{% url 'login' %}" class="btn btn-primary">Zum Login</a></p>
  </div>
{% endif %}
{% endblock %}
