{% extends "base.html" %}

{% block content %}
  <div class="container mt-4">
    <div class="card text-center">
      <div class="card-body">
        <h1 class="card-title">Bewertung bereits vorhanden</h1>
        <p class="card-text">Es tut uns leid, aber zur Zeit ist nur eine (1) Bewertung pro Bier pro Nutzer erlaubt!</p>
        <a href="{% url 'beer_list' %}" class="btn btn-primary">Anderes Bier bewerten</a>
        <a href="{% url 'home' %}" class="btn btn-secondary">Zurück zur Startseite</a>
      </div>
    </div>
  </div>
{% endblock %}
