{% extends 'base.html' %}
{% block content %}
<html>
<head>
    <title>Beerlist</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Beerlist</h1>
        <p>Hier können Biere angeschaut, verglichen und bewertet werden.</p>
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Beschreibung</th>
                    <th>Rating</th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
              {% for beer in beers %}
                <tr>
                    <td><a href="{% url 'beer_detail' beer_id=beer.id %}">{{ beer.display_name }} </a></td>
                    <td>{{ beer.description }}</td>
                    <td>{{ beer.rating }}</td>
                    <td><a href="{% url 'rate_beer_by_id' beer_id=beer.id %}" class="btn btn-primary">Bewerten</a></td>
                </tr>
              {% empty %}
                <tr>
                  <td>No Beers/Ratings available, please build db and import json files</td>
              {% endfor %}
            </tbody>
        </table>
    </div>
</body>
<!--
</html>  
-->
{% endblock %}